<div class="card">
    <div class="image-container">
        <img [src]="pizza.image" [alt]="pizza.name">
        <div class="button-overlay">
            <button class="btn btn-primary btn-sm me-1" (click)="onEdit()">
                Edit
            </button>
            <button class="btn btn-danger btn-sm" (click)="onDelete()">
                Delete
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="card-title">{{ pizza.name }}</p>
        <hr>
        @for (topping of pizza.toppings; track $index) {
            @if ($index > 0) {
                <span>, </span>
            }
            <span>{{ topping }}</span>
        }
    </div>
</div>